name: Hello World Action

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 23f1001477@ds.study.iitm.ac.in
        run: echo "Hello, world!"
